/* SVG 图表样式 */
.lightweight-chart-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mini-chart-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.mini-chart-line {
  vector-effect: non-scaling-stroke;
}

.mini-chart-area {
  vector-effect: non-scaling-stroke;
}
